:root {
    --theme-dark:#000000;
    --theme-light:#ffffff;

    --c-color: hsl(0 0% 0%);
    --c-background: hsl(0 0% 100%);
}

:root[data-theme='theme-dark'] {
    --c-color: hsl(0 0% 100%);
    --c-background: hsl(0 0% 0%);
}

body {
    background: var(--c-background);
    color: var(--c-color);
    display: flex;
    justify-content: center;
}


