.switch-theme {
	--transition: fill .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	display: flex;
	justify-content: center;
	align-items: center;
	//width: 3.6rem;
	//height: 3.6rem;
	background: none;
	background: red;
	border: none;
	outline: none;

	&.light-mode {
		.svg-icon {
			fill: var(--c-color);
			transition: var(--transition);
		}
	}

	&.dark-mode {
		.svg-icon {
			fill: var(--c-color);
			transition: var(--transition);
		}
	}
}

@media (hover: hover) and (pointer: fine) {
	button[aria-label] {
		overflow: visible;
	}

	[aria-label] {
		position: relative;

		&::after {
			content: attr(aria-label);
			transition: transform 112ms ease-out 112ms, opacity 112ms ease-out 112ms;
			will-change: transform, opacity;
			white-space: nowrap;
			pointer-events: none;

			position: absolute;
			top: 100%; left: 50%;
			z-index: 10;
			transform: translate(-50%, -5px);

			opacity: 0;
			background: var(--c-color);
			color: var(--c-background);

			font-size: 12px;
			border-radius: 3px;
			margin-top: 10px; padding: 5px 6px 3px 6px;
		}

		&:hover {
			&::after {
				transform: translate(-50%, 0);
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}


