html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

body {
    font-feature-settings: "kern" 1,"liga" 0;
}

html,
body,
button {
    -webkit-font-smoothing: subpixel-antialiased;
}


